<head>
  <title> TinyApp</title>
  <style type="text/css">
  body{
    text-align: center;
    margin: 20px;
    font-size: 20px;
  }
  ul li{
  list-style-type: none;
  }
  a: link{
    color: black;
  }
  a:hover{
    color:blue;
  }
  button:hover{
    display: inline;
    background-color: white;
  }
  input: hover{
    background: white;
  }

  </style>

<h1> TinyApp </h1>
</head>
<body>
<%if (!username){%>
  <form method = "POST" action="/login">
    <input type = "text" name = "username" placeholder= "Username">
    <input type ="submit">
  </form>
<%} else {%>
Logged in as : <%= username %>
<form method = "POST" action = "/logout">
<button type="submit" value="logout"> Logout</button>
</form>
<% } %>
<br>
<hr>

</body>