<html lang = "en">
  <% include ./partials/_header.ejs %>
  <div class="container">
  <body style ="font-size:20px padding:50px">
      <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input type="text" id="longURL" name ="longURL" value = "http://" style="width:300px">
      <button type="submit" class="btn btn-primary" value="Submit"> Submit </button>
    </form>
  </body>
  </div>
</html>