
<html lang="en">
<head></head>

<body>
<p>
<% include ./partials/_header.ejs %>
<ul>
<% for (var url in urls) { %>
<li><%= url%> : <%=urls[url]%></li>

Link: <a href="/urls/<%=url%>">Shortened_URL</a>
<% } %>

<a href=<%= urls[url]%>First Link</a>
%>
</ul>
<a href = "/urls/new"> <input type = "button" value = "Add new URL"></a>
</body>
</html>