<html>
  <head></head>

  <body>
  <% include ./partials/_header.ejs %>
  <p>
  Full URL: <%=longURL%> <br>
  Shortened Form :  <%=shortURL%> <br>
  Link: <a href = <%=longURL%>>tinyapp.com/<%=shortURL%></a>
  </p>

  </body>

</html>