
<html lang="en">
<head>
  <title> TinyApp</title>
  <style type="text/css">
  body{
    tex-align: center;
    margin: 20px;
    font-size: 20px;
  }
  ul li{
  list-style-type: none;
  }
  }
  a: link{
    color: black;
  }
  a:hover{
    color:blue;
  }
  button:hover{
    display: inline;
    background-color: white;
  }
  input: hover{
    background: white;
  }

  </style>
</head>

<body>


<% include ./partials/_header.ejs %>

<% for (var url in urls) { %>
<%= url%> => <%=urls[url]%>
<a href="/urls/<%=url%>">Edit</a>
<form method = "POST" action = "/urls/<%=url%>/delete">
<button value = "Delete"> Delete </button>
</form>

<%}%>
<br>
<a href = "/urls/new"> <button value = "Add new URL">Add new URL </button></a>



</body>
</html>